.main {
    font-family: sans;
}

.header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 4px;

    a:link {
        text-decoration: none;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 200%;
        color: #9f0000;
        font-size: 40px;
    }
}

.header-links {
    display: flex;
    justify-content: end;
    margin-top: -25px;
    margin-bottom: 25px;
    border-bottom: 3px solid #9f0000;

    a:link {
        text-decoration: none;
    }

    a {
        margin-right: 10px;
        background-color: #9f0000;
        color: black;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
    }

    .active {
        color: white;
    }
}

.vault-name {
    > div {
        display: flex;
        align-items: center;
    }

    .symbol {
        font-weight: bold;
        font-size: 120%;
        margin-right: 10px;
    }
}
