.main {
    font-family: sans;

    a {
        color: inherit;
    }
}

.table-no-col-header {
    thead {
        display: none;
    }
}

.header-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;

    margin-bottom: 4px;

    a:link {
        text-decoration: none;
    }

    .logo {
        display: flex;
        align-items: center;
        font-size: 200%;
        color: #9f0000;
        font-size: 40px;
    }
}

.header-links {
    display: flex;
    justify-content: end;
    margin-top: -25px;
    margin-bottom: 25px;
    border-bottom: 3px solid #9f0000;

    a:link {
        text-decoration: none;
    }

    a {
        margin-right: 10px;
        background-color: #9f0000;
        color: black;
        font-weight: bold;
        padding: 10px;
        border-radius: 5px 5px 0px 0px;
        cursor: pointer;
    }

    .active {
        color: white;
    }
}

.vault-name {
    > div {
        display: flex;
        align-items: center;
    }

    .symbol {
        font-weight: bold;
        font-size: 120%;
        margin-right: 10px;
    }

    a:link {
        text-decoration: none;
    }

}


.ltv-matrix {
    margin-top: 100px;

    th.rotated-text {
        height: 50px;
        white-space: nowrap;
        padding: 0 !important;
    }

    th.rotated-text > div {
        transform:
            translate(13px, 0px)
            rotate(310deg);
        width: 30px;
    }

    th.rotated-text > div > span {
        padding: 5px 10px;
    }

    tr.data-row:nth-child(odd) > td {
        background-color: #343941;
    }

    tr.data-row:nth-child(even) > td {
        background-color: #5a606a;
    }

    td.cell {
        width: 70px;
        height: 50px;
        text-align: center;
    }

    th.row-header {
        font-weight: bold;
        padding-right: 20px;
        text-align: right;
    }
}

.vault-details-card {
    margin-top: 20px;
    padding-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

    .p-card-header {
        font-size: 150%;
        font-weight: bold;
        margin-left: 30px;
    }
}

.vault-details-table {
    width: 100%;

    tr:nth-child(odd) > td {
        background-color: #565a60;
    }

    tr:nth-child(even) > td {
        background-color: #474747;
    }

    td {
        padding: 10px;
    }

    td.attr {
        text-align: right;
        width: 200px;
    }

    td.value {
        padding-left: 20px;
        text-align: left;
    }

    th.row-header {
        font-weight: bold;
        padding-right: 20px;
        text-align: right;
    }
}
